# Session 2 Tasks

1. Create 3 variables to store street, city and country, now create address variable to
store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line
2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index
3. Create two variables to store how many fruits and vegetables you eat in a day.
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
4. I have a string variable called s='maine 200 banana khaye'. This of course is a
wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original strong with new ones and print the new string.
Also try to do this in one line.

In [5]:
#Create 3 variables to store street, city and country, now create address variable to store entire address.Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line
street= "Amir mostafa"
city= "Alexandria"
country="Egypt"
using_plus_operator= street+" "+ city+" " + country 
using_f_string= f"{street} {city} {country}"
print(using_plus_operator)
print(using_f_string)

Amir mostafa Alexandria Egypt
Amir mostafa Alexandria Egypt

In [13]:
#Create a variable to store the string "Earth revolves around the sun" .Print "revolves" using slice operator .Print "sun" using negative index
x="Earth revolves around the sun"
print(x[6:14])
print(x[-3:])

revolves
sun

In [15]:
x= 6 # where x is the number of vegetables i eat every day 
y= 10 #where y is the number of fruits i eat every day 
print(f"I eat {x} vegetables and {y} fruits daily.")

I eat 6 vegetables and 10 fruits daily.

In [33]:

wrong_string='maine 200 banana khaye'
corrected_string=wrong_string.replace('200','10')
corrected_string=corrected_string.replace('banana','samosa')
print(corrected_string)

maine 10 samosa khaye

##### 1. Let us say your expense for every month are listed below.
    1. January -  2200
    2. February - 2350
    3. March - 2600
    4. April - 2130
    5. May - 2190

Create a list to store these monthly expenses and using that find out,

    1. In Feb, how many dollars you spent extra compare to January?
    2. Find out your total expense in first quarter (first three months) of the year.
    3. Find out if you spent exactly 2000 dollars in any month
    4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
    5. You returned an item that you bought in a month of April and
    got a refund of 200$. Make a correction to your monthly expense list
    based on this

2. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [37]:
L=[2200,2350,2600,2130,2190] # where L is the expenses for every month in ordered way . 
the_extra_expense_spent_in_feb_compared_to_january=L[1]-L[0]
print("the extra expense spent in feb compared to january is : ",the_extra_expense_spent_in_feb_compared_to_january)    #1st require
total_expense_in_first_quarter_of_the_year=sum(L[0:2]) 
print("total expense in first quarter of the year is :",total_expense_in_first_quarter_of_the_year)        #2nd require
if L[0]==2000  :       #3rd require
    print("my expense in January is exactly 2000 dolars")
elif L[1]==2000 : 
    print("my expense in February is exactly 2000 dolars")
elif L[2]==2000 : 
    print("my expense in March is exactly 2000 dolars")
elif L[3]==2000 : 
    print("my expense in April is exactly 2000 dolars")
elif L[4]==2000 : 
    print("my expense in May is exactly 2000 dolars")
else :
    print("there is no expense exactly equal to 2000 dolars in any month")

june=1980 
L.append(june) #4th require

L[3]=L[3]+200 #5th require
print("the list of the expense after the refund",L)

the extra expense spent in feb compared to january is :  150
total expense in first quarter of the year is : 4550
there is no expense exactly equal to 2000 dolars in any month
the list of the expense after the refund [2200, 2350, 2600, 2330, 2190, 1980]

Write a program that prints following shape

```
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
```

In [59]:
for i in range (5):
    for j in range (i+1,5):
        print(' ',end='')
    for j in range (i+1) :
        print('*',end='') 
    for j in range (i) :
        print('*',end='')
    print()
for i in range (4):
    for j in range (i+1) :
        print(' ',end='')
    for j in range (i,4)  :
        print('*',end='')
    for j in range (i+1,4)  :
        print('*',end='')
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

5-Write a program that asks the user to enter their name and age. The program should check if the user's age is greater than or equal to 18. If it is, the program should print a message saying they are eligible to vote. Otherwise, the program should print a message saying they are not eligible to vote due to being underage

In [61]:
user_name=input("enter your name please :")
user_age=int(input("enter your age please :"))
if user_age >=18 :
    print(user_name,"is eligible to vote")
else : 
    print(user_name,"is not eligible to vote due to being underage")

enter your name please :hazem
enter your age please :21
hazem is eligible to vote

6-Write a program that asks the user to enter a series of numbers. The program should ask for numbers until the user enters a negative number. Once the user enters a negative number, the program should stop and print the sum of all the positive numbers entered


Example
Enter a number: 5

Enter a number: 8

Enter a number: 12

Enter a number: -2

The sum of the positive numbers is 25.

In [68]:
i=0 
s=0
while i >= 0 :
    x=int(input("please enter a number : "))
    if x<0 :
        break
    else :
        s=s+x
    i+=1
print ("The sum of the positive numbers is",s)

please enter a number : 5
please enter a number : 8
please enter a number : 12
please enter a number : -2
The sum of the positive numbers is 25

WAP to enter the age of 3 person and print oldest and yougest among them.

In [69]:
ahmed_age=int(input("enter your age , ahmed : ")) #1st person
maha_age=int(input("enter your age , maha : "))   #2nd person
hazem_age=int(input("enter your age , hazem : "))  #3rd person
if (hazem_age>ahmed_age) and (hazem_age>maha_age):
    print("hazem is the oldest")
    if (maha_age>ahmed_age):
        print("ahmed is the youngest")
    else :
        print("maha is the youngest")
elif (ahmed_age>hazem_age) and (ahmed>maha_age):
    print("ahmed is the oldest")
    if (maha_age>hazem_age):
        print("hazem is the youngest")
    else :
        print("maha is the youngest")
elif (maha_age>ahmed_age) and (maha_age>hazem_age):
    print("maha is the oldest")
    if (hazem_age>ahmed_age):
        print("ahmed is the youngest")
    else :
        print("hazem is the youngest")

enter your age , ahmed : 19
enter your age , maha : 20
enter your age , hazem : 21
hazem is the oldest
ahmed is the youngest

WAP to enter a year from user and check if it is leap year of not.

In [77]:
x=int(input("please enter a year :"))
if (x%4==0):
    if(x%100==0):  #to check if the year is a century year
        if (x%400==0):
            print("the entered year is a leap year")
        else :
            print("the entered year is not a leap year")
    else :
        print("the entered year is a leap year")
else :
    print("the entered year is not a leap year")

please enter a year :2004
the entered year is a leap year

WAP to enter a number from user and print its absolute value.*

In [72]:
x=int(input("please enter a number"))
print(abs(x))

please enter a number-3
3

In [75]:
#another way for absolute value 
x=int(input("please enter a number"))
if x>0 :
    print(x)
else:
    print(x*-1)

please enter a number-5
5